* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* colores
#273469 azul
#297373 verde
#a379c9 lila
#e6e6e6 blanco
#39393a gris */

header {
    background-color:#39393a;
    justify-content: center;
    text-align: center;
    padding: 6px 0px;
    color: #e6e6e6;
    position:fixed;
    width: 100vw;
}

/* --------------Aside-------------- */
main {
    display:flex;
    flex-direction: row;
}

aside {
    background-color:#39393a;
    height: fit-content;
    width: 200px;
    margin-top: 112px;
    padding: 0px 4vw 2vh 4vw;
    color: #e6e6e6;
    position:fixed;
}

aside div {
    display: flex;
    justify-content: space-around;
}

button {
    background-color:#e6e6e6;
    border: solid 1px #273469;
    border-radius:4px;
    align-content: center;
    width: 2rem;
    color: #273469;
}

aside ol {
    display:none;
}

.show {
    display: block;
}

aside li {
    padding-top: 0.5em;
}

aside li a {
    text-decoration: none;
    color: #e6e6e6;
}

aside li a:hover {
    text-decoration:underline;
}

/* --------------Content-------------- */
.content {
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.content div {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content span {
    align-self: self-start;
    margin: 5vh 0vw;
}
.content p {
    margin-top: 1%;
}