@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); /* Import de la fuente */

*{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* colores
#273469 azul
#297373 verde
#a379c9 lila
#e6e6e6 blanco
#39393a gris */

/* ------------------------------------HEADER-------------------------------- */
header {
    display: flex;
    margin: 0.5vw 0.5vw;
    padding: 1vh 0.5vw;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 3px 2px 5px rgba(22, 22, 22, 0.521);
    background-color: #39393a;
}

/* Nav*/
nav {
    display: flex;
    gap: 3vw;
    align-items: center;
    padding: 0.5vw 1vw;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: medium;

}

header img{
    width: 7vw;
    border-radius: 6px;
    padding: 2px;
    margin: 0.2vw;
}

/* --------------------------------------MAIN---------------------------------------- */
main{
    display: flex;
    flex-direction: column;
}

.hero {
display: flex;
flex-wrap: wrap;
margin-top: 3vw;
margin-bottom: 2vh;

}

.textoHero{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: left;
    
    width: 61%; 
    padding: 2vw 1vw;
    align-items: center;
}

.imagenHero{
    justify-content: right;
    width: 39%;
    padding: 2vw 1vw;
}

.imagenHero img{
    width: 100%;
    height: 37vw;
    border-radius: 50%;
}

.textoHero p {
   padding-right: 2vw;;
}

.textoHero h1 {
    font-weight:400;
    font-size: 44px;
    text-align:left;
    margin-bottom: 2.5vw;
}

.textoHero p{
    font-weight: 400;
    font-size: 22px;
    text-align: center;
}

.inscribete{
    margin-top: 4vw;
    margin-bottom: 1.5vw;
}

.hero button {
    border: none;
    height:10vh;
    width: 30vw;
    min-width: 250px;
    background-color: #a379c9;
    padding: 2vh 3vw;
    font-size: 20px;
    border-radius: 22px;
    color: #e6e6e6;
    font-weight: 600;
}

.hero button:hover{
    background-color: #297373;
    transition: 1s;
}

/* -----------------------------------SECCION OBJETIVOS------------------------- */

.bannerobjetivos{
    background-color: #273469;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3vh 5vw;
    margin-bottom: 2vh;
}

.bannerobjetivos h3{
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    color: white;
    font-weight:700;
    font-size: x-large;
    margin-top: 2vh;
    margin-bottom: 3vh;
}

.objetivos{
    display: flex;
    flex-direction: column;
    width: 258px;
    height: 320px;
    border-radius: 10px;
    background-color: #e6e6e6;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4vh;
    margin-top: 2vh;
    box-shadow: 5px 5px 4px rgba(22, 22, 22, 0.521);
}

.objetivos h4{
    text-align: center;
    margin-bottom: 7px;
}

.objetivos p{
    text-align: center;
    align-self: flex-end;
    margin-bottom: 2vh;
    padding-bottom: 3vh;
}

.objetivos img{
    width: 68%;
    padding: 2vw;
}


/* ---------------------------SECCION CURSOS-------------------- */

.section-cursos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5vh;
    margin-top: 8vh;
    padding: 1vh 3vw;
}

.section-cursos h3 {
    justify-content: center;
    font-size: 2em;
    position: absolute;
    margin-top: auto;
}

.section-cursos button {
    border: none;
    height:fit-content;
    margin-right: 5%;
    width: auto;
    background-color: #a379c9;
    margin: 8vh 2% 0% 2%;
    font-size: 1em;
    padding: 0.6vh 0.6vw;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}

.section-cursos button:hover{
    background-color:#297373;
    transition: 1s;
} 

.containercat{
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.bannercursos {
    width: 100%;
    height: fit-content;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    grid-auto-rows: minmax(100px, auto);
    position: relative;
}

.cursos {
    min-width: 220px;
    max-width: 250px;
    height: 366px;
    margin: 5% 2% 1% 2%;
    border-radius: 6px;
    overflow: hidden;
    background: #a379c9;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default; /* para que no muestre el cursos de texto */
    transition: all 400ms ease;
}

.cursos img {
    background-color: #e6e6e6;
    width: 100%;
    height: 150px; /* ver figma */
}

.cursos:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cursos h4{
    font-size: larger;
    text-align: left;
    font-weight: 800;
    margin-top: 1vh;
    padding-left: 1.5vw;
    color: black;
}

.cursos p {
    padding: 1vh 1.5vw;
    color: black;
}
.cursos a{
    text-align: center;
    font-weight: 700;
    padding: 1vh 1.5vw;
    color: white;
}

.cursos a:hover{
    color: #273469;
}

/* -------------------------------------------SECCION VISION-------------------------------------- */

.bannervision {
    margin-top: 8vh;
    font-size: 1.5rem;
}

#nav-about {
    padding-left: 3vw;
}

.bannervision div {
    width: 100%;
    height: 280px;
    margin-top: 1vh;
    color: #e6e6e6;
    background: linear-gradient(rgba(5,7,12),rgba(5,7,12,0.40)), url(../Assets/nuestra\ vision\ seccion.jpg) no-repeat center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 7% 1.5vw;
}

.bannervision p {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 3vh 7vw;
}

.bannervision h4{
    font-size: larger;
    font-weight: 700;
}

.presentacion {
    display: flex;
    position: relative;
    align-items: center;
    height: 381px;
    width: 100%;
}

.presentacion img {
    position: absolute;
    width: 40%;
    height: 100%;   
}

.presentacion div {
    position: absolute;
    width: 60%;
    padding: 10px;
}

.teachers {
    width: 100%;
    margin: auto;
    padding: 2vh 3vw;
}

.teachers div:nth-child(2n) img {
    left: 100%;
    transform: translate(-100%,0);
}

.teachers div:nth-child(2n) div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.teachers div:nth-child(2n+1) div {
    left: 100%;
    transform: translate(-100%,0); 
}

/* -----------------------------SECCION CONTACT------------------ */
.contact {
    display: flex;
    flex-direction: column;
}

.header-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 90px 5vw 2vh 3vw;
}

#nav-contacto {
    font-size: 1.9rem;
}

.contact div span {
    padding-top: 10px;
    font-size: 1.2rem;
}

.contact-box {
    padding: 20vh 15vw;
}

.contact-box form {
    background-color: #a379c9;
    padding: 15px;
    border: 1px solid #273469;
    border-radius: 10px;
    box-shadow: 2px 3px 7px #39393a;
}

.field-main input,
.field-main textarea {
    background: #cdbfda;
}

#mainform-btn {
    margin-top: 3vh;
    align-self:flex-end;
    width: 10vw;
    height: 5vh;
    border: 1px solid #273469;
    border-radius: 8px;
    font-weight: 600;
}
/* ------------------------------FOOTER-------------------------- */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #39393a;
    align-items: center;
    /* height: fit-content; */
    width: 100%;
    color: #e6e6e6;
    padding: 21px 29px;
}

.redesSociales {
    display: flex;
    flex-direction: row;
    font-size: 1.8em;
    justify-content: center;
    gap: 35px;
}


footer img{
    width: 5vw;
    border-radius: 50%;
    margin: 1vh 25%;
}

footer p{
    font-size: 20px;
}

.texto-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-footer p, a{
    font-size: small;
    text-decoration: none;
    color: #e6e6e6;
}

.texto-footer span a:hover{
    text-decoration: underline;
}

/* -------------------------------------------------------PAGINA REGISTRO------------------------------------------- */

.registro{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 3vw;
    margin: 10vh 15vw;
    background-color: white;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    padding: 1vh 2vw;
}

.inputContainer input{
    border: none;
    height: 5vh;
    border-bottom: 1px solid black;
 }

#dateCountry{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

#enviar-btn{
    margin-top: 3vh;
    align-self: center;
    width: 10vw;
    height: 5vh;
    border: none;
    background-color: #a379c9;
    border-radius: 10px;
    font-weight: 600;
}

#enviar-btn:hover{
    background-color: #297373;
    transition: 1s;
}

#selectorPais{
    width: 10vw;
}

/* ------------------------------------------------PAGINA INGRESO------------------------------------------------- */

#enviar-btn-ingreso{
    margin-top: 3vh;
    align-self: center;
    width: 10vw;
    height: 5vh;
    border: none;
    background-color: #a379c9;
    border-radius: 10px;
    font-weight: 600;
}

#enviar-btn-ingreso:hover{
    background-color: #297373;
    transition: 1s;
}



