@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); /* Import de la fuente */

*{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* colores
#273469 azul
#297373 verde
#a379c9 lila
#e6e6e6 blanco
#39393a gris */

/* ------------------------------------HEADER-------------------------------- */
header {
    display: flex;
    margin: 0.5vw 0.5vw;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 3px 2px 5px rgba(22, 22, 22, 0.521);
    background-color: #39393a;
}

/* Nav*/
nav {
    display: flex;
    gap: 3vw;
    align-items: center;
    padding: 0.5vw 1vw;
}
nav a{
    text-decoration: none;
    color: rgb(221, 221, 221);

}

header img{
    width: 7vw;
    border-radius: 6px;
    padding: 2px;
    margin: 0.2vw;
}

/* --------------------------------------MAIN---------------------------------------- */
main{
    display: flex;
    flex-direction: column;
}

.hero {
display: flex;
flex-wrap: wrap;
margin-top: 3vw;
margin-bottom: 2vh;

}

.textoHero{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: left;
    
    width: 61%; 
    padding: 2vw 1vw;
    align-items: center;
}

.imagenHero{
    justify-content: right;
    width: 39%;
    padding: 2vw 1vw;
}

.imagenHero img{
    width: 100%;
    height: 37vw;
    border-radius: 50%;
}

.textoHero p {
   padding-right: 2vw;;
}

.textoHero h1 {
    font-weight:400;
    font-size: 44px;
    text-align:left;
    margin-bottom: 2.5vw;
}

.textoHero p{
    font-weight: 400;
    font-size: 22px;
    text-align: center;
}

.inscribete{
    margin-top: 4vw;
    margin-bottom: 1.5vw;
}

.hero button {
    border: none;
    height:10vh;
    width: 30vw;
    min-width: 250px;
    background-color: #a379c9;
    padding: 2vh 3vw;
    font-size: 20px;
    border-radius: 22px;
}

.hero button:hover{
    background-color: #297373;
    transition: 1s;
}

/* -----------------------------------SECCION OBJETIVOS------------------------- */

.bannerobjetivos{
    background-color: #273469;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3vh 5vw;
    margin-bottom: 2vh;
}

.bannerobjetivos h3{
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    color: white;
    font-weight:400;
}

.objetivos{
    display: flex;
    flex-direction: column;
    width: 258px;
    height: 320px;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: #e6e6e6;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4vh;
    margin-top: 2vh;
    box-shadow: 5px 5px 4px rgba(22, 22, 22, 0.521);
}

.objetivos h4{
    text-align: center;
    margin-bottom: 7px;
}

.objetivos p{
    text-align: center;
    align-self: flex-end;
    margin-bottom: 2vh;
}

.objetivos img{
    width: 68%;
    padding: 2vw;
}


/* ---------------------------SECCION CURSOS-------------------- */

.section-cursos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5vh;
    margin-top: 8vh;
    padding: 1vh 3vw;
}

.section-cursos h3 {
    justify-content: left;
    font-size: 2em;
    position: absolute;
    margin-top: auto;
}

.section-cursos button {
    border: none;
    height:fit-content;
    margin-right: 5%;
    width: auto;
    background-color: #a379c9;
    margin: 8vh 2% 0% 2%;
    font-size: 1em;
}

.bannercursos {
    width: 100%;
    height: fit-content;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    grid-auto-rows: minmax(100px, auto);
    position: relative;
}

.sectionCursos h3 {
    justify-content: left;
    font-size: 2em;
    position: absolute;
    margin-top: auto;
}

.sectionCursos button {
    height:fit-content;
    margin-right: 5%;
    width: auto;
    background-color: #a379c9;
    margin: 8vh 2% 0% 2%;
    font-size: 1em;
}

.cursos {
    min-width: 220px;
    max-width: 250px;
    height: 366px;
    margin: 5% 2% 1% 2%;
    border-radius: 6px;
    overflow: hidden;
    background: #a379c9;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default; /* para que no muestre el cursos de texto */
    transition: all 400ms ease;
}

.cursos img {
    background-color: #e6e6e6;
    width: 100%;
    height: 150px; /* ver figma */
}

.cursos:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* --------------------------SECCION VISION-------------------- */

.bannervision div {
    width: 100%;
    height: 280px;
    margin-top: 38px;
    background: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)), url(./Assets/nuestra\ vision\ seccion.jpg) no-repeat center center;
    position: absolute;
}

.bannervision h4 {
    position:relative;
    color: #e6e6e6;
}


/* ------------------------------FOOTER-------------------------- */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #39393a;
    align-items: center;
    /* height: fit-content; */
    width: 100%;
    color: #e6e6e6;
    padding: 21px 29px;
}

.redesSociales {
    display: flex;
    flex-direction: row;
    font-size: 1.8em;
    justify-content: center;
    gap: 35px;
}


footer img{
    width: 5vw;
    border-radius: 50%;
    margin: 1vh 1vw;
}

footer p{
    font-size: 20px;
}

.texto-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-footer p, a{
    font-size: small;
}

footer .legales{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer .legales span{
    margin-right: 15%;
}

footer .legales span a {
    text-decoration: none;
    color: #e6e6e6;
}

footer .legales span a:hover {
    text-decoration: underline;
}

/* -------------------------------------------------------PAGINA REGISTRO------------------------------------------- */

.registro{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 7px black;
    padding: 5vh 3vw;
    margin: 10vh 15vw;
    background-color: #e6e6e6;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    padding: 1vh 2vw;
}

.inputContainer input{
    border: none;
    height: 5vh;
 }

#dateCountry{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

#enviar-btn{
    margin-top: 3vh;
    align-self: center;
    width: 10vw;
    height: 5vh;
    border: none;
    background-color: #a379c9;
    border-radius: 10px;
    font-weight: 600;
}

#enviar-btn:hover{
    background-color: #297373;
    transition: 1s;
}

#selectorPais{
    width: 10vw;
}

/* ------------------------------------------------PAGINA INGRESO------------------------------------------------- */

#enviar-btn-ingreso{
    margin-top: 3vh;
    align-self: center;
    width: 10vw;
    height: 5vh;
    border: none;
    background-color: #a379c9;
    border-radius: 10px;
    font-weight: 600;
}

#enviar-btn-ingreso:hover{
    background-color: #297373;
    transition: 1s;
}